<h1>Chat room</h1>
<div id ='messages'>
  <%= render @messages %>
</div>
<form  data-behavior="room_speaker">
  <label>Say something:</label><br>
  <input type="text" id="message-name">
  <input type="text" id="message-content">
  <input type="hidden" id="room-slug" value=<%= @room.slug %> />
</form>
